name: Publish Docker
on:
  push:
    branches: [master]
    tags:
      - '*'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: GitHub Login
        uses: azure/docker-login@v1
        with:
          login-server: docker.pkg.github.com
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Docker Package and Version
        run: |
          set +e
          _=$(echo "$GITHUB_REF" | grep "^refs/heads/")
          if [ $? -eq 0 ]; then
            # branch
            if [ "$GITHUB_REF" = "refs/heads/master" ]; then
              VER=latest
              PKG=etheno
            else
              VER=testing
              PKG=etheno
            fi
          fi
          _=$(echo "$GITHUB_REF" | grep "^refs/tags/")
          if [ $? -eq 0 ]; then
            # tag
            # refs/tags/v1.X => v1.X
            VER=$(echo "$GITHUB_REF" | sed -e 's/.*\///')
            PKG=etheno
          fi
          set -e
          echo "::set-env name=PKG::$PKG"
          echo "::set-env name=VER::$VER"

      - name: Docker Build
        run: docker build -t trailofbits/$PKG:$VER .

      - name: DockerHub Login
        uses: azure/docker-login@v1
        with:
          login-server: registry.hub.docker.com
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Docker Push
        run: docker push registry.hub.docker.com/trailofbits/$PKG:$VER
